@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(0.5) rotate(90deg);
    }

    50% {
        transform: scale(0) rotate(180deg);
    }

    75% {
        transform: scale(0.75) rotate(270deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

html {
    scroll-behavior: smooth;
}


/* Estilizando a largura e o fundo da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
    background-color: #c9d1e7;
    /* Cor de fundo da barra */
}

/* Cor da parte de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #3e66f3;
    /* Cor da parte que você arrasta */
    border-radius: 5px;

}


body {
    background-color: #f4f7ff;
    font-family: Barlow, Roboto, sans-serif;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    font-family: Barlow, Roboto, sans-serif;
    margin-left: 13%;
    margin-right: 13%;
}


#top-content {
    background: url(https://mechamou.encinterativa.com.br/assets/bg_-aaMvHUa7.webp) no-repeat center top;
    background-size: cover;
    margin-bottom: 100px;
    margin-top: -40px;
    margin-right: -8px;
    margin-left: -30px;

}

.top-body {
    font-family: Barlow, Roboto, sans-serif;
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}

.left-header {
    font-family: Barlow, Roboto, sans-serif;
    font-size: 1.5rem;
    letter-spacing: .46px;
    line-height: 1.208;
    font-weight: 700;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: 50px;

}


.left-content {
    display: flex;
    flex-direction: column;

}

span {
    font-weight: bold;
}

.chamou {
    color: #3e66f3;
}

.left-title {
    font-family: Barlow, Roboto, sans-serif;
    font-size: 16px;
    color: #3e66f3;
    letter-spacing: .46px;
    line-height: 1;
    font-weight: 600;
    gap: 10px;
    flex-wrap: wrap;
}

.left-title:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background: #3e66f3;
    display: inline-block;
    margin-top: 8px;
    margin-left: 8px;
}

.right-header {
    font-family: Barlow, Roboto, sans-serif;
    margin-top: 45px;
}

.contact-button {
    background-color: #3e66f3;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}

.contact-button:hover {
    background-color: #2e4aad;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.contact-button:active {
    background-color: #fff;
    color: #3e66f3;
    border-radius: 30px;
    border: none;
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.left-text {
    font-size: 74px;
    color: #000;
    letter-spacing: .46px;
    line-height: 1.135;
    font-weight: 700;
    text-transform: none;
    margin-top: 0px;
    margin-bottom: 20px;

}

.blue-span {
    color: #3e66f3;
}

.left-paragraph {
    color: #737887;
    margin-top: 0px;
    font-family: Roboto, Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: .46px;
    line-height: 1.75;
    font-weight: 400;
    text-transform: none
}


#content {
    font-family: Barlow, Roboto, sans-serif;
    margin-left: 13%;
    margin-right: 13%;
}

.content-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-title-container {
    display: flex;
    flex-direction: column;
}

.content-title-container h2 {
    margin-top: 0px;
    font-size: 45px;
    font-weight: bold;
}

.saiba-mais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    color: #3e66f3
}

.function-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
}

.block-title {
    margin: 20px;
    font-size: 23px;
}

.block-text {
    font-family: Barlow, Roboto, sans-serif;
    font-size: 16px;
    color: #737887;
    letter-spacing: .46px;
    line-height: 1.75;
    font-weight: 400;
    text-transform: none;
    margin: 20px;
    margin-bottom: 40px;
}

.cadeado {
    margin: 20px;
}

.cadeado:hover {
    animation: zoom-in-zoom-out 1s linear 1;
}

#center-content {
    background: url(https://mechamou.encinterativa.com.br/assets/about_bg-BGBrJK97.webp) no-repeat center top;
    background-size: cover;
    margin: 5%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

.left-center-content {
    margin-left: 10%;
}

.right-center-content {
    font-family: Barlow, Roboto, sans-serif;
    font-size: 28px;
    color: #000;
    letter-spacing: .46px;
    line-height: 1.25;
    font-weight: bold;
    text-transform: none;
    margin: 10%;
}

#solutions-titles-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#solutions {
    display: flex;
    flex-direction: row;
    background: url(https://mechamou.encinterativa.com.br/assets/solutions_bg-DSdZsOCT.webp) no-repeat center top;
    background-size: cover;
}



.solution-functions {
    width: 100%;
    font-family: Barlow, Roboto, sans-serif;
    font-size: 40px;
    color: #000;
    letter-spacing: .20px;
    line-height: 1.125;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 10px;

}

.solution-question {
    color: #3e66f3;
    text-align: center;
    margin-bottom: 0px;
}

.solution-functions .blue-span {
    font-weight: 500;

}

#solutions-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: Barlow, Roboto, sans-serif;
    margin-left: 13%;
    margin-right: 13%;
}

#solutions-content-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#solutions-content-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

}

.solutions-content1 {
    display: flex;
    flex-direction: row;
    margin: 20px;
    font-family: Barlow, Roboto, sans-serif;
    font-size: 20px;
    color: #000;
    letter-spacing: .46px;
    line-height: 1.278;
    font-weight: 600;
    text-transform: none;
}

.solution-content-image {
    margin: 20px;
    background-color: #eff1f9;
    border-radius: 20px;
    padding-top: 0px;
    padding: 30px;

}

#solutions-content-center {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;


}

#bottom-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#bottom-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.278;
}

#bottom-title h1 {
    margin-top: 0px;
    font-family: Barlow, Roboto, sans-serif;
    font-size: 40px;
    color: #000;
    letter-spacing: .46px;
    line-height: 1.125;
    font-weight: 700;
}

#bottom-title h1 span {
    color: #3e66f3;
    font-weight: 100;
}

#bottom-title h3 {
    color: #3e66f3;

}

#bottom-title p {
    color: #737887;
    margin-top: 0px;
}

#toggle-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #54595f;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: -4px;
    bottom: -6px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.checked::before {
    background-color: #3e66f3;
    /* Azul quando o checkbox estiver marcado */
}




input:checked+.slider {
    background-color: #3e66f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #3e66f3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #3e66f3;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mensal {
    margin-right: 30px;
    color: #3e66f3;
}


.anual {
    margin-left: 30px;
}

#bottom-content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
}

.card-content {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

#bottom-card {
    margin-top: 20px;
    background-color: #eff1f9;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}

#bottom-card2 {
    margin-top: 20px;
    background-color: #eff1f9;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 20px;
    display: none;
    flex-direction: column;

}




.basic-plan {
    margin-top: 0px;
    font-size: 30px;
}

.basic {
    margin-top: 40px;
    margin-bottom: 0px;
    color: #3e66f3;
    font-weight: 500;
    font-size: 15px;
}

.coracoes {
    margin-top: 30px;
}

.aproveite {
    margin-left: 15%;
    font-weight: 500;
    color: #737887;
}

.bottom-card-subtitle hr {
    color: #c9d1e7;
    border: solid;
    border-width: .20px;
    border-color: #c9d1e7;
    margin-left: 15%;
    margin-right: 15%;
}

#price {
    display: flex;
    flex-direction: row;
}

.price {
    font-family: Barlow, Roboto, sans-serif;
    font-size: 40px;
    color: #000;
    letter-spacing: .46px;
    line-height: 1.125;
    font-weight: 700;
    margin-left: 15%;
}

.carencia {
    font-weight: 500;
    color: #737887;
    margin-left: 10px;
    margin-top: 53px;
}

.ideal {
    font-weight: 500;
    color: #737887;
    margin-left: 15%;
    margin-top: -10px;
    margin-bottom: 20px;
}

hr {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: -8px;
}

.check {
    background-color: #3e66f3;
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    margin-left: 15%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.check-buttons {
    display: flex;
    flex-direction: column;
}

.check-text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 20px;
    justify-content: space-around;
}

.check-text span {
    font-size: 100;
}

#check-area {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

.card-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

footer {
    background-image: url(https://mechamou.encinterativa.com.br/assets/footer-B7m_z17w.webp);
    background-size: cover;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-right: -8px;
}

.copyright {
    font-size: 12px;
    margin-top: 20px;
}

.footer-text-left {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    border-right: solid;
    border-color: #000;
    border-width: .50px;
}

.p-blue {
    margin-left: 8px;
    color: #3e66f3;
    padding-right: 15px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 12px;

}

.footer-text {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}



.footer-text-right {
    margin-left: -40px;
    color: #3e66f3;
    cursor: pointer;
    font-size: 12px;
    margin-top: 12px;
}

.footer {
    border: solid;
    border-color: #e1e5f3;
    border-width: .50px;
}

footer a:hover {
    color: black;
}

footer a:active {
    color: white;
}




.goToBack {
    opacity: 0;
    transition: 0.5s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    padding: 10px 12.5px;
    z-index: 100;
    cursor: pointer;
}

.goToBack {
    background: #3e66f3;
    color: white;

}

.goToBack:hover {
    background: white;
    color: #3e66f3;

}

.goToBack {
    svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}

.active {
    background: #3e66f3;
    opacity: 1;
    transition: 0.3s ease;
    color: white;
}